* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-image: linear-gradient(
    to right,
    #36d1dc 0%,
    #5b86e5 51%,
    #36d1dc 100%
  );
}

.btn{
    margin: 10px;
    padding: 15px 45px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 1px;
    display: block;
    border-radius: 10px;
}

.btn:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
