@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #1c435b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: widht 0.5s ease-in-out;
}

.btn {
  background: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.5s ease-in-out;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(205px);
}
