@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container {
    width: 90vw;
    display: flex;
}

.card{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius:50px;
    color: #acd0ed;
    flex: 0.8;
    margin: 15px;
    position: relative;
    transition: flex 0.5s ease-in-out;
}

.card h1{
    position: absolute;
    bottom: 20px;
    left: 35%;
    margin: 0;
    opacity: 0;
}

.card.active {
    flex: 5;
  }

  .card.active h1{
      opacity: 1;
      transition: opacity 0.3s ease-in 0.4s;
  }

  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }